.columns{
	max-width: 100% !important;
}
.main_container
{
	background-color: #edecec;
	min-height: 100vh;
}

.form_field_container
{
	width: 100%;
}

.field_container
{
	padding-left: 20px;
	padding-right: 20px;
}

.adresses_container
{
	background: #f7f7f7;
	padding: 15px;
	padding-bottom: 0px;
}

.form_title_field
{
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	margin-bottom: 10px;
	background: none;
	font-family: "Roboto";
}

.form_field
{
	box-shadow: none;
	outline: none;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	margin-bottom: 10px;
	font-family: "Roboto";
}

.field_label
{
	font-family: "Roboto Condensed";
	font-size: 18px;
	width: 100%;
}

.error_text
{
	width: 100%;
	color: white;
	background: red;
	margin-bottom: 10px;
}

.submit_bar
{
	position: fixed;
	bottom: 0;
	background: grey;
	width: 100%;
	text-align: center;
}

.submit_bar > input,
.submit_bar > button
{
	display: inline-block;
	margin: 15px;
	margin-left: 7.5px;
	margin-right: 7.5px;
	width: 140px;
	max-width: 40%;
}

.form_profile_container
{
	padding-left: 20px;
	padding-right: 20px;
}

.form_img
{
	width: 100px;
	margin-right: 30px;
}

.form_img_upload
{
	padding-left: 20px;
}

.form_img_upload > input
{
	margin-top: 10px;
}

.form_img_upload > *
{
	display: inline-block;
}